@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/Pier-Sans/Light/hinted-PierSans-Light.woff'), url('../fonts/Pier-Sans/Light/hinted-PierSans-Light.woff2'), url('../fonts/Pier-Sans/Light/hinted-PierSans-Light.svg'), url('../fonts/Pier-Sans/Light/hinted-PierSans-Light.ttf'), url('../fonts/Pier-Sans/Light/hinted-PierSans-Light.eot');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.woff'), url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.woff2'), url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.svg'), url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.ttf'), url('../fonts/Pier-Sans/Regular/hinted-PierSans-Regular.eot');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/Pier-Sans/Medium/hinted-PierSans-Medium.woff'), url('../fonts/Pier-Sans/Medium/hinted-PierSans-Medium.woff2'), url('../fonts/Pier-Sans/Medium/hinted-PierSans-Medium.svg'), url('../fonts/Pier-Sans/Medium/hinted-PierSans-Medium.ttf'), url('../fonts/Pier-Sans/Medium/hinted-PierSans-Medium.eot');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/Pier-Sans/Medium/hinted-PierSans-Bold.woff'), url('../fonts/Pier-Sans/Bold/hinted-PierSans-Bold.woff2'), url('../fonts/Pier-Sans/Bold/hinted-PierSans-Bold.svg'), url('../fonts/Pier-Sans/Bold/hinted-PierSans-Bold.ttf'), url('../fonts/Pier-Sans/Bold/hinted-PierSans-Bold.eot');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Phosphate';
    src: url('../fonts/Phosphate/hinted-PhosphateInline.woff'), url('../fonts/Phosphate/hinted-PhosphateInline.woff2'), url('../fonts/Phosphate/hinted-PhosphateInline.svg'), url('../fonts/Phosphate/hinted-PhosphateInline.ttf'), url('../fonts/Phosphate/hinted-PhosphateInline.eot');
    font-weight: normal;
    font-style: normal;
}